<h1 mat-dialog-title>Add Customer</h1>
<div mat-dialog-content>
  <p>Please input Customer's details:</p>
  <mat-form-field>
    <!-- <label mat-label>Family Name</label> -->
    <input matInput placeholder="Family Name" [(ngModel)]="data.familyName">
  </mat-form-field>
  <mat-form-field>
    <!-- <label mat-label>Given Name</label> -->
    <input matInput placeholder="Given Name" [(ngModel)]="data.givenName">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
</div>
